
# LOCAL CONFIG SETTINGS
# Exclude local config files so we don't overwrite other local setups
# Leave example files that can be renamed and used for local setup
# ------------------------------------------------------------
craft/config/local/*
!craft/config/local/db.example.php
!craft/config/local/general.example.php


# MISC FILES
# ------------------------------------------------------------
.DS_Store